Reset CSS 

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
  
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
h1{
    font-size: 8rem;
    font-weight: normal;
}
.Inicio{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h2{
    background-color: rgb(54, 52, 52);
    color: whitesmoke;
    font-size: 2rem;
}
.Foto{
    width: 340px;
    height: 370px;
    border: 2px solid yellow;
}
h3{
    font-size: 4rem;
    border-bottom: 1px solid gray;
    
}
h5{
    font-size: 2rem;
    font-style: normal;
    font-weight: normal;    
}
.meio1{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
h4{
    font-size: 2.5rem;
    font-style: normal;
    font-weight: bold;  
    margin-top: 1px;
}
.meio2{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.meio3{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 10px solid yellow;
}